.container {
  border: 1px solid rgb(197, 197, 197);
  width: 250px;
  margin: 0 10px 50px;
  overflow: hidden;
  transition: all 0.2s ease;
  text-align: center;
}
.container:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.image {
  width: 200px;
  height: 230px;
  object-fit: contain;
  padding: 10px 0;
}

.title {
  color: #424344;
  text-align: left;
  margin: 20px;
  font-size: 20px;
}

.price {
  color: #424344;
  text-align: left;
  margin: 15px 20px;
  font-size: 16px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0 20px;
}

.productDetails {
  text-decoration: none;
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.productDetails:hover {
  background: rgb(221, 221, 221);
}

button {
  background: rgb(49, 145, 49);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: rgb(36, 110, 36);
}

.productBtn {
  padding: 10px 20px;
}

.productSmallBtn {
  padding: 10px;
}

.productQuantity {
  padding: 5px;
  font-size: 18px;
}
